:root {
    --bg: var(--bg0);
    --bg0: #fbf1c7;
    --bg0_h: #f9f5d7;
    --bg0_s: #f2e5bc;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;
    --fg: var(--fg1);
    --fg0: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;
    --gray1: var(--fg4);
    --gray2: #928374;
    --red1: #cc241d;
    --red2: #9d0006;
    --green1: #98971a;
    --green2: #797403;
    --yellow1: #d79921;
    --yellow2: #b57614;
    --blue1: #458588;
    --blue2: #076678;
    --purple1: #b16286;
    --purple2: #8f3f71;
    --aqua1: #689d6a;
    --aqua2: #427b58;
    --orange1: #d65d0e;
    --orange2: #af3a03
}

:root {
    --primary: var(--blue1);
    --primary-alt: var(--blue2);
    --font-monospace: "Fira Code", "Lucida Console", Monaco, monospace;
    --font-sans-serif: Verdana, Helvetica, sans-serif;
    --font-serif: "Roboto Slab", Georgia, serif
}

::selection {
    background: var(--bg4);
    color: var(--fg0)
}

html {
    font-size: 1rem;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    line-height: 1.675;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: var(--font-serif);
}

pre {
    overflow: auto;
}

.layout {
    min-width: 600px;
}

.center {
    display: flex;
    justify-content: center;
}

.main {
    margin: 1rem;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.main__content {
    flex-grow: 1;
}

.main__sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 18rem;
}

@media screen and (max-width: 768px) {
    .main__sidebar {
        display: none;
    }
}

.header {
    font-family: var(--font-monospace);
    font-size: 1.125rem;
    background-color: var(--bg1);
    display: flex;
    flex-direction: row;
    height: 3.8rem;
    width: 100%;

    border-bottom: 1px solid var(--gray2);
    position: sticky;
    top: 0;
    left: 0;
}

.header__logo {
    height: auto;
    padding: 5px 0.6rem;
}

.header__nav {
    padding: 0 0.5rem;
}

.nav__list {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav__item {
    align-content: center;
}

.nav__link {
    height: 100%;
    text-decoration: none;
    color: var(--fg);
}

.nav__link--active {
    text-decoration: underline;
}

.nav__link:hover {
    color: var(--fg3);
}

.card {
    border: 1px solid var(--gray2);
    margin: 0 0 1rem;
    background-color: var(--bg0_s);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card__title {
    padding: .2rem .2rem 0 .2rem;
    background-color: var(--bg2);
    border-bottom: 1px solid var(--gray2);
    font-family: var(--font-monospace);
    font-weight: bold;
    text-align: center;
}

.section {
    padding: 1rem;
    border: 1px solid var(--gray2);
    margin: 0 0 1rem;
    background-color: var(--bg0_s);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section__title {
    margin: 0 0 .5em 0;
    color: var(--fg0);
}

.aside__title {
    margin: .35em 0;
    color: var(--fg0);
}

.code,
.ascii-art {
    font-family: var(--font-monospace);
    background-color: var(--bg2);
    color: var(--fg);
    padding: 1rem;
    border-radius: 3px;
}

.code code {
    font: inherit
}

.quote {
    border-left: 5px solid var(--bg2);
    padding-left: 5px;
    margin-left: 1rem;
}

.message {
    border-left: 5px solid var(--bg2);
    padding-left: 5px;
    margin-left: 1rem;
}

.message__error {
    border-left: 5px solid var(--red1);
    padding-left: 5px;
    margin-left: 1rem;
}

.message__preloader {
    border-left: 5px solid var(--orange1);
    padding-left: 5px;
    margin-left: 1rem;
}

.footer {
    padding-bottom: .5rem;
    padding-top: 2rem;
}

.footer__text {
    color: var(--fg3);
    font-size: .8rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--bg2);
    padding: .2rem;
    text-align: center;
}

th {
    font-family: var(--font-monospace);
    background-color: var(--bg2);
}

tr:nth-child(even) {
    background-color: var(--bg1);
}

.vex {
    padding-top: 160px;
    padding-bottom: 160px;
}

.vex .vex-content {
    border-radius: 3px;
    border-left: 4px solid var(--green1);
    background-color: var(--bg0_s);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 450px;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.vex .vex-dialog-message {
    margin-bottom: 1rem;
}

.vex .vex-dialog-buttons {
    display: flex;
    justify-content: flex-end;
}

.vex .vex-dialog-button {
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    line-height: 1rem;
    padding: .5rem 1em;

    background-color: var(--bg2);
    border-bottom: 2px solid var(--gray1);
    font-family: var(--font-monospace);
    font-weight: bold;
    text-align: center;
}

